.docs {
  height: 100vh;
  padding: 12px;
  display: flex;

  .docs-markdown {
    flex: 1;
    overflow: auto;
    padding: 24px;

    .docs-markdown-title {
      font-size: 32px;
      font-weight: 700;
    }
  }
}
