.todo {
  height: calc(100vh - 104px);

  &-left {
    &-buttonline {
      margin-bottom: 10px;

      &-item {
        margin-right: 10px;
      }
    }

    &-list {
      width: 60%;
      height: calc(100vh - 140px);
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.1);

      :global {
        .ant-collapse-header {
          width: 200px;

          &-text {
            font-weight: bold;
            user-select: none;
          }
        }
        .ant-collapse-content-box {
          padding: 2px !important;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px;
        padding: 8px;
        border-radius: 8px;
        transition: all 500ms;
        user-select: none;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
