.role-card {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 5px solid gold;
  border-radius: 24px;

  .role-card-name {
    font-weight: bold;
    font-weight: 16px;
    color: gold;
  }
}
