.sider-bar {
  height: calc(100% - 24px);
  width: 256px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  :global {
    .ant-menu-inline {
      border-inline-end: none !important;
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-mobile {
      width: 90%;
    }

    &-url {
      cursor: pointer;
      border-radius: 6px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      font-size: 18px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
