.vtable-header {
  height: auto;
  background: rgb(245, 245, 245);
  margin-bottom: 10px;
  display: flex;
  padding: 0 12px;
  justify-content: space-between;
  border-radius: 8px;

  &-left {
    margin: 10px 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: calc(100% - 100px);

    :global {
      .ant-form-item {
        margin: 0;
      }
      .ant-row {
        width: 100%;
      }
    }
  }

  &-right {
    width: 160px;
    position: relative;

    &-buttons {
      display: flex;
      margin-top: 10px;
    }
  }
}

.vtable-footer {
  height: 50px;
  background: rgb(245, 245, 245);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
