.layout {
  height: 100vh;

  .layout-sider {
    padding: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);

    :global {
      // 隐藏目录右侧很丑的线
      .ant-menu-vertical {
        border-inline-end: none !important;
      }

      // icon右侧空出距离
      .ant-image {
        margin-right: 6px;
      }

      .ant-menu-item {
        display: flex;
        align-items: center;
      }

      .ant-menu-item-selected {
        background: #000;
        color: #fff;
      }

      .ant-menu-item-icon {
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .ant-layout-sider-trigger {
        display: none !important;
      }
    }

    .layout-sider-logo {
      display: flex;
      justify-content: center;
    }

    .layout-sider-bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 8px;
    }

    .layout-sider-trigger {
      display: none;
      height: 60px;
      width: 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      position: absolute;
      right: 0;
      top: 30%;
      transform: translateX(50%);
      background: #fff;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
    }

    &:hover {
      .layout-sider-trigger {
        display: flex;
      }
    }
  }
}
