.pc-genshin {
  display: flex;
  align-items: center;
  margin: 12px;
  height: calc(100% - 24px);
  border-radius: 12px;
  background: #fff;

  &-left {
    width: 50%;
    height: calc(100% - 24px);
    padding: 24px;

    &-title {
      font-weight: bold;
      font-size: 18px;
      margin: 12px 0;
    }

    &-inputline {
      display: flex;
      align-items: center;

      &-input {
        margin-right: 10px;
      }
    }

    &-tabs {
      max-width: 400px;
    }
  }

  &-right {
    width: 50%;
    height: calc(100% - 120px);
    padding: 24px;
  }
}
