.genshin {
  overflow: hidden;
  height: 100%;
  padding: 16px;

  .genshin-inputline {
    display: flex;
    align-items: center;
  }

  .genshin-body {
    margin-top: 10px;
    height: calc(100% - 80px);
  }
}

.genshin-tip-copy {
  color: #1677ff !important;
  margin-left: 5px !important;
  cursor: pointer;
}
